{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - La boutique France{% endblock %}

{% block content %}
    <h1>Modifier mon mot de passe</h1>
    <a href="{{ path('account') }}">Retour</a>
    <hr>
    {{ form(form) }}
    {% if notification %}
        <p class="alert alert-info">{{ notification }}</p>
    {% endif %}

{% endblock %}

